h1{
    color:blue;
}
p{
    color: green;
}
button {
	border:none;
	padding:6px 0 6px 0;
	border-radius:50%;
	background:#478bf9;
	font:bold 13px Arial;
	color:#fff;
	width:160px;
}
.example-card{
	margin-bottom: 1em;
}